<tr class="tb_tbody_tr" onclick="add(this)">
  <td id="td-id">1</td>
  <td id="td-cName">name1 +</td>
  <td id="td-url">url1</td>
  <td id="td-action">
    <button
      onclick="showEditModal(this)"
      id="btn_showEditModal"
      type="button"
      class="btn btn-info btn-sm"
      data-toggle="tooltip"
      title="Edit"
      data-placement="top"
    >
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <button
      onclick="showDeleteModal(this)"
      id="btn_showDeleteModal"
      type="button"
      class="btn btn-warning btn-sm"
      data-toggle="tooltip"
      data-placement="top"
      title="Delete"
    >
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </td>
</tr>
<tr class="tb_tbody_tr" onclick="add(this)">
  <td id="td-id">2</td>
  <td id="td-cName">name2</td>
  <td id="td-url">url2</td>
  <td id="td-action">
    <button
      onclick="showEditModal(this)"
      id="btn_showEditModal"
      type="button"
      class="btn btn-info btn-sm"
      data-toggle="tooltip"
      title="Edit"
      data-placement="top"
    >
      <i class="fa-regular fa-pen-to-square"></i>
    </button>
    <button
      onclick="showDeleteModal(this)"
      id="btn_showDeleteModal"
      type="button"
      class="btn btn-warning btn-sm"
      data-toggle="tooltip"
      data-placement="top"
      title="Delete"
    >
      <i class="fa-regular fa-trash-can"></i>
    </button>
  </td>
</tr>
