@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;
}

/* ------------- QUAN CODE ------------*/

.content {
  padding: 15px;
}
/*css flex container*/
.flex-container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}
/*css flex items*/
.flex-items-1 {
  display: flex;
  gap: 10px;
  flex-direction: row;
}

.flex-items-1 .item-addChannel {
  justify-items: center;
  flex: 55%;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}
.flex-items-1 .item-playChannel {
  flex: 45%;
  padding: 15px 40px;
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}

/*css flex-items-2*/
.flex-items-2 {
  padding: 15px 40px;
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}
.flex-items-2 .item-channelList {
  overflow-x: overlay;
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #034078;
  padding: 5px;
  justify-content: center;
}

p.flex-title {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0;
  padding-top: 5px;
  font-size: 2rem;
  font-weight: bold;
  color: #034078;
}

/*css input type submit*/
input[type="submit"] {
  border: none;
  color: #fefcfb;
  background-color: #034978;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: #1282a2;
}
/*css for input type button*/
input[type="button"] {
  border: none;
  color: #fefcfb;
  background-color: #05b69b;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  width: 100px;
  margin-right: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
}
input[type="button"]:hover {
  background-color: #07c6fb;
}

/*css input type text , number, select*/
input[type="text"],
input[type="number"],
select {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #000;
}

/*css lable*/
label {
  font-size: 1.2rem;
  color: rgb(232, 32, 215);
  font-weight: bold;
}
/*css for class value*/
.value {
  font-size: 1.2rem;
  color: #1282a2;
}

/*css for table channelList*/
#table-channelList {
  min-width: 640px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#table-channelList thead {
  display: flex;
  width: 100%;
}
#table-channelList tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 320px;
  overflow-y: overlay;
  /* overflow-x: auto; */
  word-wrap: break-word;
}

#table-channelList thead tr {
  flex: 1;
  display: flex;
  flex-direction: row;
}

#table-channelList thead tr th {
  border: 1px solid #ddd;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}
th#th-id {
  width: 5%;
}
th#th-cName {
  width: 35%;
}
th#th-url {
  width: 50%;
}
th#th-action {
  width: 10%;
}

#table-channelList tbody tr {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: fit-content;
}
#table-channelList tbody tr td {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-channelList tbody #td-id {
  width: 5%;
}

#table-channelList tbody #td-cName {
  width: 35%;
}

#table-channelList tbody #td-url {
  width: 50%;
}

#table-channelList tbody #td-action {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}

/* #table-channelList tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#table-channelList tr:hover {
  background-color: rgba(140, 140, 140, 0.5);
}

/*Css for tables addChannel*/
#table-addChannel {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#table-addChannel .header th {
  background-color: #ff99ff;
}

/*css for table add channel*/
#table-addChannel td,
#table-addChannel th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

#table-addChannel tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-addChannel tr:hover {
  background-color: #ddd;
}
/*Css for tables addChannel*/

/* css button */
button {
  transition-duration: 0.4s;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  border-radius: 4px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
.btn_play:hover,
.btn_stop:hover {
  opacity: 0.8;
}

.btn_play {
  background-color: #634caf; /* Green */
}
.btn_stop {
  background-color: #eb5a0d; /* Green */
}
.btn_addFavor:hover {
  background-color: #14ace3; /* Green */
}
.btn_disable {
  background-color: #838281; /* Green */
}

.notSelect {
  user-select: none;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.flex-notify {
  text-align: center;
}

/* css top nav*/
nav.topnav {
  height: 64px;
  background-color: #333;
  overflow: hidden;
  padding: 0px 45px;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li {
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items {
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}
nav ul li.items:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #33ffff;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items a:hover {
  text-decoration: none;
  color: none;
}
nav ul li.items:hover:after {
  opacity: 1;
  bottom: 8px;
}
nav ul li.logo {
  flex: 1;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
nav ul li a {
  color: white;
  font-size: 1.125rem;
  text-decoration: none;
  transition: 0.4s;
}
nav ul li:hover a {
  color: cyan;
}
nav ul li i {
  font-size: 1.5rem;
}
nav ul li.btn_nav {
  display: none;
}
nav ul li.btn_nav.hide i:before {
  content: "\f00d";
}
.active {
  color: #33ff00;
}
.tbody_tr_active {
  background: rgba(140, 140, 140, 0.5);
}
/*  css for custom toast message*/
#toast__custom {
  --light: #ffffff;
  --success: #47d864;
  --info: #2f86eb;
  --warning: #ffc021;
  --error: #ff623d;
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: 999999;
}

.toast__custom {
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  background-color: var(--light);
  border-radius: 2px;
  padding: 10px 0 0 0;
  width: 24rem;
  min-width: 15rem;
  max-width: 30rem;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  transition: all linear 0.3s;
  margin-bottom: 15px;
}
.toast__custom::before {
  position: absolute;
  height: 3px;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  animation: progress 5s linear forwards;
}
@keyframes progress {
  100% {
    width: 0%;
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
.toast__custom.toast--success::before {
  background: var(--success);
}
.toast__custom.toast--info::before {
  background: var(--info);
}
.toast__custom.toast--error::before {
  background: var(--error);
}
.toast__custom.toast--warning::before {
  background: var(--warning);
}

.toast--success {
  border-color: var(--success);
  border-width: 2px;
}

.toast--success .toast__icon {
  color: var(--success);
}

.toast--info {
  border-color: var(--info);
  border-width: 2px;
}

.toast--info .toast__icon {
  color: var(--info);
}

.toast--warning {
  border-color: #ffc021;
  border-width: 2px;
}

.toast--warning .toast__icon {
  color: #ffc021;
}

.toast--error {
  border-color: #ff623d;
  border-width: 2px;
}

.toast--error .toast__icon {
  color: #ff623d;
}

.toast + .toast {
  margin-top: 24px;
}

.toast__icon {
  font-size: 24px;
}

.toast__icon,
.toast__close {
  padding: 0 16px 10px 16px;
}

.toast__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.toast__body .toast__begin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toast__title {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}

.toast__msg {
  font-size: 14px;
  color: #888;
  margin-top: 6px;
  line-height: 1.5;
}

.toast__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.toast__close i:hover {
  color: rgba(0, 0, 0, 0.784) !important;
}

@media all and (max-width: 600px) {
  .flex-items-1 {
    display: flex;
    flex-direction: column !important;
  }

  nav {
    padding: 5px 30px;
  }
  nav ul li.items {
    width: 100%;
    display: none;
  }
  nav ul li.items.show {
    display: block;
  }
  nav ul li.btn_nav {
    display: block;
  }
  nav ul li.items:hover {
    border-radius: 5px;
    box-shadow: inset 0 0 5px #33ffff, inset 0 0 10px #66ffff;
  }
  nav ul li.items:hover:after {
    opacity: 0;
  }
}

/* ------------- QUAN CODE ------------*/
